{
  "presets": [
    [
      "env", {
        "modules": false
      }
    ],
    "react",
    "flow",
    "es2015"
  ],
  "env": {
    "test": {
      "presets": [
        ["env"], "react"
      ]
    }
  }
}
